  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  * {
      font-family: 'Poppins', sans-serif;
  }

  .topnav {
      border-radius: 15px;
      overflow: hidden;
      background-color: #333;
      align-items: center;
      padding: 10px;
      display: flex;
  }

  .topnav a:first-child img {
      padding-right: 5px;
  }

  .topnav a {
      cursor: default;
  }

  .topnav a:not(:first-child) {
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      margin-top: 5px;
      margin-right: 5px;
  }

  .topnav a:hover:not(:first-child) {
      background-color: #ddd;
      color: black;
      border-radius: 5px;
  }

  .topnav a:nth-child(4) {
      background-color: #ddd;
      color: black;
      border-radius: 5px;
  }


  @media screen and (max-width: 600px) {
      .topnav a:nth-child(n+4) {
          display: none;
      }

      .topnav {
          font-size: medium;
      }

      .topnav a:not(:first-child) {
          margin-top: 0px;
      }

  }

  /* Content styles */
  .content-services {
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .content-services h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
      /* Dark text color for the heading */
  }

  .service {
      margin-bottom: 20px;
      padding: 20px;
      background-color: #f0f0f0;
      border-radius: 10px;
  }

  .service h2 {
      margin-bottom: 10px;
      color: #333;
      /* Dark text color for the service headings */
  }

  .service p {
      color: #666;
      /* Medium gray text color for service descriptions */
      line-height: 1.6;
      /* Adjust line height for better readability */
  }